<div class="container">
  <br>
  <h1><%= @list.name %></h1>
  <% bookmark = @list.bookmarks %>
  <ul class= "list-unstyled" >
    <% bookmark.each do |mark| %><br>
    <li>
      <div style="background-color: beige; box-shadow: 2px 2px 8px darkgray; padding: 16px; margin-top: 8px; border-radius: 16px">
        <h4><%= mark.movie.title %></h4><hr>
        <h6><%= mark.comment %></h6>
        <%= link_to "Delete", bookmark_path(mark), data: {turbo_method: :delete, turbo_confirm: "Are you sure"} %>
      </div>
    </li>
    <% end %>
  </ul>
  <%= link_to "Create new bookmark", new_list_bookmark_path(@list), class: "btn btn-outline-primary" %>
</div>
